# Local app config
PORT=8080
GCP_PROJECT_ID=your-gcp-project-id
FIRESTORE_COLLECTION=poc_requests
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_ACCOUNT_SID=your-twilio-account-sid

# Cloud Run naming (used as GitHub Repository Variables)
GCP_REGION=us-central1
CLOUD_RUN_SERVICE_NAME=althea-poc-api
